.logo-container {
  z-index: 0;
  width: 50%;
  height: 90vmin;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;

  svg {
    position: absolute;
    width: 60vmin;
    height: 60vmin;
    transform: rotateZ(-75deg) !important;
    top: 15%;
  }

  .solid-logo {
    position: absolute;
    top: 20%;
    left: 25%;
    margin: auto;
    width: 25vmin;
    opacity: 1;
    transform: rotateZ(0deg) !important;
    z-index: 1;
  }
}

.svg-container {
  stroke: #01f7a5;
  stroke-width: 30;
}
@media screen and (orientation: portrait) {
  .logo-container {
    z-index: 0;
    width: 50%;
    height: 50vmin;
    opacity: 1;
    position: absolute;
    left: 30%;
    top: 42%;

    svg {
      position: absolute;
      width: 45vmin;
      height: 45vmin;
      transform: rotateZ(0deg) !important;
      top: 15%;
    }

    .solid-logo {
      display: none;
    }
  }

  .svg-container {
    stroke: #01f7a5;
    stroke-width: 60;
  }
}
