.logo-container {
  z-index: 0;
  width: 700px;
  height: 1018px;
  opacity: 1;
  position: absolute;
  top: 200px;
  right: 0;
  bottom: 0;
  left: auto;
  margin: auto;

  svg {
    width: 100%;
    height: 100%;
    transform: rotateZ(-75deg) !important;
  }

  .solid-logo {
    position: absolute;
    top: 200px;
    right: auto;
    bottom: auto;
    right: 250px;
    margin: auto;
    width: 40%;
    opacity: 1;
    transform: rotateZ(0deg) !important;
    z-index: 1;
  }
}

.svg-container {
  stroke: #01f7a5;
  stroke-width: 30;
}
 