.stage-cube-cont {
  width: 30%;
  height: 100%;
  top: 0;
  padding-top: 18%;
  margin-left: 0;
  position: absolute;
  left: 50%;
  z-index: -1;
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);

  div {
    position: absolute;
    width: 200px;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px 0px rgba(255, 255, 224, 0.733);
  }

  .face1 {
    transform: translateZ(100px);
  }
  .face2 {
    transform: rotateY(90deg) translateZ(100px);
  }
  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
  }
  .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
  }
  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
  }
  .face6 {
    transform: rotateX(-90deg) translateZ(100px);
  }
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}
@media screen and (orientation: portrait) {
  .stage-cube-cont {
    width: 100%;
    height: 100%;
    top: 260px;
    margin-left: 0;
    left: -50px;
  }

  .cubespinner {
    div {
      box-shadow: 0 0 10px 0px rgba(255, 255, 224, 0.733);
    }
    .face1 {
      transform: scaleZ(50%) scale(50%) translateZ(100px);
    }
    .face2 {
      transform: scaleZ(50%) scale(50%) rotateY(90deg) translateZ(100px);
    }
    .face3 {
      transform: scaleZ(50%) scale(50%) rotateY(90deg) rotateX(90deg)
        translateZ(100px);
    }
    .face4 {
      transform: scaleZ(50%) scale(50%) rotateY(180deg) rotateZ(90deg)
        translateZ(100px);
    }
    .face5 {
      transform: scaleZ(50%) scale(50%) rotateY(-90deg) rotateZ(90deg)
        translateZ(100px);
    }
    .face6 {
      transform: scaleZ(50%) scale(50%) rotateX(-90deg) translateZ(100px);
    }
  }
}
